[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: dfn_windirstat
name: WinDirStat
description: Werkzeug zur Visualisierung und Reduzierung der Speicherplatzbelegung. [Disk usage statistics viewer and cleanup tool]
advice: 
version: 1.1.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.opsiscript
uninstallScript: uninstall32.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: bool
name: startmenuentry
description: Startmenu entry (Directory & Link) in 'common-programs'?
default: True

[ProductProperty]
type: bool
name: context-menu
description: Entry in context menu?
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
windirstat (1.1.2-2)
	* diverse Änderungen (u.a. Registry-Suche)
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
	* Desktopicon -> Desktoplink gem. o4i-Richtlinie angepasst
	* o4i-Logo hinzugefügt, eigenes Logo möglich
	* Englische Beschreibung gem. o4i-Richtlinie
	* ProductProperty context-menu hinzugefügt.
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 21.08.2017

windirstat (1.1.2-1)
	* initiales DFN-Repository-Paket
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.06.2015









